$primanycolor: #001c28;
$secondlycolor: #d5dc27;

.header {
  height: 100px;
  display: inline-flex;

  &__hamburger {

    @media screen and (min-width: 768px) {
      display: none;
    }

  }
  nav {
    @media screen and (min-width: 992px) {
      display: block;
    }
  }
  .title {
    p {
      font-size: 3.2vh;

      margin: 0.45em 0px 0 0.5em;
    }

  }

}

.sidemenu__off {
  display: none;

}

.sidemenu__on {
  display: block;

}

.toggleoff {

  display: flex;
}

.toggle__on {
  margin: 10px 0 0 0;
  cursor: pointer;

  span {
    display: block;
    margin: 6px;

    width: 30px;
    height: 3px;

    border-radius: 2px;

    background-color: #001c28;

    @media screen and (min-width: 500px) {
      display: block;

      width: 40px;
      height: 4px;
      margin: 9px;

      border-radius: 7px;
      background-color: #001c28;
    }
  }
  span:last-child {
    margin: 6px;
    height: 3px;

    @media screen and (min-width: 500px) {
      margin: 9px;
      height: 4px;
    }
  }
}

nav {
  position: absolute;
  top: 0;

  left: -260px;
  width: 260px;
  height: 100%;

  z-index: 2;

  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;

  background-color: #001c28;

  @-webkit-keyframes slide {
    100% {
      left: 0;
    }
  }

  @keyframes slide {
    100% {
      left: 0;
    }
  }

  h2 {

    width: calc(100% - 35px);

    margin: 35px auto 35px auto;

    font-family: lato;

    color: white;

    img {
      position: relative;
      float: right;
      top: 7px;
      width: 25px;

    }

  }

  .main-menu {
    width: 100%;
    padding: 0;
    li {
      font-size: 20px;

      cursor: pointer;
      padding: 20px 30px 22px 30px;
      list-style-type: none;

      color: white;

      &:hover {
        background-color: $secondlycolor;

      }
      a {
        width: 100%;
      }
    }

    .sub-menu {
      padding: 0px 0px 22px 0px;

      li:first-child {
        a {
          display: block;
          font-size: 20px;

          border-bottom: 2px solid #293a44;
          line-height: 60px;

          color: white;
        }
        &:hover {
          a {
            border-bottom: 2px solid $secondlycolor;
            background-color: $secondlycolor;
          }

        }
      }

      li {
        padding: 0px 0px 0px 30px;

        &:hover {
          a {
            color: white;
          }
        }
        a {
          border-bottom: none;
          padding: 0;

          font-size: 16px;
          line-height: 30px;

          color: #293a44;
        }
      }
    }

  }

}
