.header {
  display: inline-flex;

  margin: 15px 0 30px;

  @include bp(bp-3) {
    display: none;
  }

  &__hamburger {
    position: relative;
    z-index: 3;
  }

  nav {
    @include bp(bp-3) {
      display: block;
    }
  }

  .title {
    p {
      margin: 0 0 0 0.5em;

      font-size: 3.2vh;
    }

  }

}

.toggleoff {
  display: flex;
}

.toggle {
  // Base styles
  cursor: pointer;

  span {
    display: block;
    margin: 7px;

    width: 30px;
    height: 4px;

    border-radius: 2px;
    background-color: #001c28;

    transition: all .3s ease;
  }

  span:last-child {
    margin: 7px;
    height: 4px;
  }

  &--on {
    span {
      background: #fff;
    }

    span:nth-child(1) {
      transform: translateY(11px) rotate(45deg);
      height: 3px;
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg);
    height: 3px;

    }
  }

  &--off {

  }
}

.sidemenu {
  position: fixed;
  top: 0;
  left: -$sidemenuWidth;
  z-index: 2;

  width: $sidemenuWidth;
  height: 100vh;

  padding-top: 25px;

  transition: left .35s ease;
  will-change: left;

  background-color: #001c28;

  @include bp(bp-3) {
    padding-top: 0;
    left: 0;
  }

  &--on {
    left: 0;
  }

  &--off {

  }

  h2 {
    width: calc(100% - 70px);

    margin: 35px auto 35px auto;

    font-family: lato, arial, sans-serif;
    color: white;
font-size: 1.9em;
    img {
      position: relative;
      float: right;
      top: 10px;
      width: 33px;
    }
  }

  .main-menu {
    width: 100%;
    padding: 0;

    .menu-icon{
      float: right;
      width: 26px;
    }

    li {
      font-size: 1.6em;
      cursor: pointer;
      padding: 20px 35px 20px 35px;
      list-style-type: none;
      font-weight: 300;

      &:hover {
        background-color: $secondaryColor;

      }
      a {
        width: 100%;
        text-decoration: none;
        color: white;

      }
    }

    .sub-menu {
      padding: 0px 0px 22px 0px;

      .first-element{
        margin-top: 20px;
      }

      li:first-child {




        a {
          display: block;

          font-size: 1em;
          cursor: pointer;
          list-style-type: none;
          font-weight: 400;


          border-bottom: 2px solid #293a44;
          line-height: 67px;

          color: white;
        }
        &:hover {
          a {
            border-bottom: 2px solid $secondaryColor;
            background-color: $secondaryColor;
          }

        }
      }

      li {
        padding: 0px 0px 0px 30px;

        &:hover {
          a {
            color: white;
          }
        }
        a {
          border-bottom: none;
          padding: 0;

          font-size: 0.8em;
          line-height: 37px;

          color: #6d7a81;
        }
      }
    }

  }

}
