$bp1: 500px;
$bp2: 768px;
$bp3: 992px;
$bp4: 1200px;
$bpPrefix: min-width;

@mixin bp($point) {

    @if $point == bp-1 {
      @media (min-width: $bp1) {
        @content;
      }
    } @else if $point == bp-2 {
      @media (min-width: $bp2) {
        @content;
      }
    } @else if $point == bp-3 {
      @media (min-width: $bp3) {
        @content;
      }
    } @else if $point == bp-4 {
      @media (min-width: $bp4) {
        @content;
      }
    } @else {
      @media (min-width: $point) {
        @content;
      }
    }
}
