//global colours
$primaryColor: #001c28;
$secondaryColor: #d5dc27;

.movies {
  margin: 50px 0 0 0;

  @media screen and (min-width: 990px) {
    margin: 0;
    position: relative;
    top: -40px;
  }

&__total{
    margin: 0px 0 0 260px;
  }

  .movie {
    width: 100%;
    background-color: white;
    margin: 10px 0;
    padding: 14px;
    font-size: 2vw;
    @media screen and (min-width: 990px) {
      margin: 20px 0 0 260px;
    }

    &__header {
      h3 {
        margin: 0;

        color: $primaryColor;
        font-size: 1.3em;
      }
    }

    &__image {
      width: 32%;
      float: left;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__details {
      position: relative;

      width: 63%;
      float: right;
    }

    &__rating {
      position: absolute;
      top: 5px;
      right: 0;

      padding: 3px 5px;

      border-radius: 4px;
      background-color: $secondaryColor;

      span {
        color: white;
      }
    }

    &__genres {
      p {
        margin: 0;

        span {
          color: $secondaryColor;
          font-size: 0.7em;
          font-weight: 600;
        }
      }
    }

    &__overview {
      p {
        position: relative;

        max-height: (1.25em * 5);

        margin: .7em 0;

        overflow: hidden;

        font-size: 0.85em;
        line-height: 1.3em;

        &:after {
          content: '';

          position: absolute;
          right: 0;
          bottom: 0;

          width: 60%;
          height: 1.25em;

          background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);        }
      }
    }

    &__date {
      p {
        margin: 0;

        font-size: 0.85em;
        color: $secondaryColor;
        font-weight: 200;
      }
    }
  }
}
