//global colours
$primaryColor: #001c28;
$secondaryColor: #d5dc27;

.movies {
  margin: 50px 0 0 0;

  @include bp(bp-3) {
    padding: 48px 0 0;
  }

  @media screen and (min-width: 1200px) {
    width: calc(75% - 15px);
    float: left;

    margin: 0;
  }

  &__total {

    color: #708088;
    font-weight: 300;
    margin: 0 0 10px 0;

  }

  .movie {
    position: relative;

    width: 100%;

    margin: 7.5px 0;
    padding: 20px;

    background-color: white;

    font-size: 3.6vw;

    @media screen and (min-width: 668px) {
      font-size: 2.6vw;
    }
    @media screen and (min-width: 998px) {
      margin: 20px 0 0;
    }
    @media screen and (min-width: 1200px) {
      font-size: 1.4vw;
    }

    &__header {
      h3 {
        margin: 0;

        color: $primaryColor;

      }
    }

    &__image {
      width: 32%;
      float: left;

      @media screen and (min-width: 668px) {
        width: 20%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &__details {
      width: 64%;
      float: right;

      @media screen and (min-width: 668px) {
        width: 77%;
      }

    }

    &__rating {
      position: absolute;
      top: 20px;
      right: 20px;

      padding: 3px 5px;

      border-radius: 4px;
      background-color: $secondaryColor;

      span {
        color: white;
      }
    }

    &__genres {
      p {
        margin: 0;

        span {
          color: $secondaryColor;
          font-size: 0.65em;
          font-weight: 400;
        }
      }
    }

    &__overview {
      p {
        position: relative;

        max-height: (1.25em * 5);

        margin: .7em 0;

        overflow: hidden;

        font-size: 0.85em;
        line-height: 1.3em;

        @include bp(bp-3) {
          font-size: 0.65em;
        }
        @include bp(bp-4) {
          font-size: 0.85em;
        }

        &:after {
          content: '';

          position: absolute;
          right: 0;
          bottom: 0;

          width: 60%;
          height: 1.25em;

          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
        }
      }
    }

    &__date {
      position: absolute;
      bottom: 25px;

      p {
        margin: 0;

        font-size: 0.65em;
        color: $secondaryColor;
        font-weight: 200;
      }
    }
  }
}
