@import 'variables';
@import 'mixins';
@import 'header';
@import 'movies';
@import 'searchbar';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'categories';

div, section, header, * {
  box-sizing: border-box;
}

.clr {
  clear: both;
}

body {
  margin: 0;

  background-color: #f5f6f8;

  font-family: lato, arial, sans-serif;
}

p {
  font-size: 1em;
  color: $primaryColor;
}

.app {
  width: calc(100% - 30px);
  margin: 0 auto;

  @include bp(bp-3) {
    width: calc(100% - #{$sidemenuWidth});

    padding: 0 45px;
    margin-left: $sidemenuWidth;
  }
}

.filter-wrapper {
  width: 50px;
  background-color: #ccc;
  display: none;
}

.error-message {
  margin: 0 auto;
  max-width: 80%;

  overflow: hidden;

  font-weight: bold;
  color: red;

  @media screen and (min-width: 768px) {
    max-width: 60%;
  }
  @media screen and (min-width: 998px) {
    max-width: 46%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 600px;
    width: 100%;

  }
}
