@import 'header';
@import 'layout';
@import 'movies';
@import 'searchbar';
@import 'sidemenu';
@import url('https://fonts.googleapis.com/css?family=Lato');

//global colours
$primanycolor: #001c28;
$secondlycolor: #d5dc27;

// text formatting

body{
  background-color: #f5f6f8;
  font-family: lato, Arial;
}
p {
  font-size: 1em;
  color: $primanycolor;
  font-family: lato;
}

.app {
  width: calc(100% - 30px);
  margin: 0 auto;

}



.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between
}

// filter
.filter-wrapper {
  width: 50px;
  background-color: #ccc;
  display: none;
}
