
.category-main{
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.container {
  width: 24.1%;
  float: right;
  background-color: white;
  display: block;
  padding: 20px;

  position: absolute;
  right: 25px;
  top: 400px;
}

button.category {
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #444;
  cursor: pointer;
  transition: background-color 0.2s linear;
}


button.category:hover, button.category.is-open {
  background-color: white;
}

.category-content {
  background-color: white;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
